body {
  color: White;
  font: 21px Arial, sans-serif;
}

.backgroundimg {
  /* The image used */
  background-image: url("nightwebbg.jpg");

  /* Full height */
  height: 500%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  paul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}
dding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

.menu li {
  float: left;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #111111;
}

table, th, td {
  border: solid white;
  border-collapse: collapse;
}

a {
  text-decoration: none;
  color: cyan;
}
